#apiContainer{
    background-color:burlywood;
    padding: 20px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}
.rowContainer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.colContainer{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.label{
    font-size: 1.3em;
    font-weight: 700;
}
.secondaryLabel{
    margin-left: 10px;
    font-weight: 400;
}

.info{
    font-size: 1.2em;
    margin-left: 10px;
    font-weight: 500;
}

.secondaryLabelTitle{
    color:slategray;
}
